<div class="card">
  <blockquote>
    <p>{{source.evaluationDescription}}</p>
    <p class="report-link" *ngIf="auth.loggedIn && source.evaluationReportPdfUrl">
      <a [href]="'/ifishimage/' + source.evaluationReportPdfUrl" download="评估报告.pdf" target="_blank">
        <img src="./_images/icon-download.svg"/>
        快速评价报告(PDF)
      </a>
    </p>
    <p class="report-link" *ngIf="!auth.loggedIn && source.evaluationReportPdfUrl">
      <a [routerLink]="['/user/login']">
        登录后可查看快速评价报告(PDF)
      </a>
    </p>
  </blockquote>

</div>
