.title {
  font-size: 20px;
  margin-bottom: 22px;
  color: #313131;
}
h1 {
  font-size: 1.5em;
  font-weight: 600;
  margin:0 0 1em;
}
h2{
  font-weight:600;
  font-size:1em;
  margin:1.5em 0 1.5em;
}
.level-best{
  color:#3160A9;
  font-weight:900;
}
.level-good{
  color: #3C6C04;
  font-weight:900;
}
.level-ok{
  color:#B57D00;
  font-weight:900;
}

ul.no-index{
  padding-left: 0;
  list-style: none;
}
.list-strong>li{
  font-weight:600;
}
p,li{
  margin:1em 0 1em;
  line-height:1.5em;
}
